<div>
    <h2>Créer une convention</h2>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" ng-show="success">
                Convention ajoutée
            </div>
            <div class="alert alert-error" ng-show="error">
                Une erreur s'est produite
            </div>
            <form name="formConvention" ng-submit="createConvention()" novalidate>
                <div class="form-group">
                    <label class="control-label" for="intitule">Intitule</label>
                    <input required type="text" class="form-control" id="intitule" name="intitule" ng-model="convention.intitule"/>
                    <div ng-show="formConvention.intitule.$touched && formConvention.intitule.$invalid">
                        <p class="help-block">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="dateDebut">Date début</label>
                    <div class="input-group">
                        <input required type="text" class="form-control" id="dateDebut" name="dateDebut" ng-model="convention.dateDebut" uib-datepicker-popup="{{dateformat}}" is-open="datePickerOpenStatus.dateDebut" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openCalendar('dateDebut')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                    <div ng-show="formConvention.dateDebut.$touched && formConvention.dateDebut.$invalid">
                        <p class="help-block">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="dateFin">Date fin</label>
                    <div class="input-group">
                        <input required type="text" class="form-control" id="dateFin" name="dateFin" ng-model="convention.dateFin" uib-datepicker-popup="{{dateformat}}" is-open="datePickerOpenStatus.dateFin" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openCalendar('dateFin')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                    <div ng-show="formConvention.dateFin.$touched && formConvention.dateFin.$invalid">
                        <p class="help-block">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="adresse">Adresse</label>
                    <div class="input-group">
                        <select required class="form-control" id="adresse" name="adresse" ng-model="convention.adresse" ng-options="adresse as (adresse.numero + ' ' + adresse.libelle + ', ' + adresse.codePostal + ' ' + adresse.ville) for adresse in adresses | orderBy:'libelle' track by adresse.id" required>
                        </select>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" ui-sref="convention.adresse"><i class="glyphicon glyphicon-plus"></i></button>
                        </span>
                    </div>
                    <div ng-show="formConvention.adresse.$touched && formConvention.adresse.$invalid">
                        <p class="help-block">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="entreprise">Entreprise</label>
                    <div class="input-group">
                        <select required class="form-control" id="entreprise" name="entreprise" ng-model="convention.entreprise" ng-options="entreprise as entreprise.nom for entreprise in entreprises | orderBy:'nom' track by entreprise.id" required>
                        </select>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" ui-sref="convention.entreprise"><i class="glyphicon glyphicon-plus"></i></button>
                        </span>
                    </div>
                    <div ng-show="formConvention.entreprise.$touched && formConvention.entreprise.$invalid">
                        <p class="help-block">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="responsable">Responsable</label>
                    <div class="input-group">
                        <select required class="form-control" id="responsable" name="responsable" ng-model="convention.responsable" ng-options="responsable as (responsable.nom + ' ' + responsable.prenom) for responsable in responsables | orderBy:'nom' track by responsable.id" required>
                        </select>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" ui-sref="convention.responsable"><i class="glyphicon glyphicon-plus"></i></button>
                        </span>
                    </div>
                    <div ng-show="formConvention.responsable.$touched && formConvention.responsable.$invalid">
                        <p class="help-block">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="enseignant">Enseignant</label>
                    <div class="input-group">
                        <select required class="form-control" id="enseignant" name="enseignant" ng-model="convention.enseignant" ng-options="enseignant as (enseignant.nom + ' ' + enseignant.prenom) for enseignant in enseignants | orderBy:'nom' track by enseignant.id" required>
                        </select>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" ui-sref="convention.enseignant"><i class="glyphicon glyphicon-plus"></i></button>
                        </span>
                    </div>
                    <div ng-show="formConvention.enseignant.$touched && formConvention.enseignant.$invalid">
                        <p class="help-block">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="filiere">Filière</label>
                    <div class="input-group">
                        <select required class="form-control" id="filiere" name="filiere" ng-model="convention.filiere" ng-options="filiere as filiere.nom for filiere in filieres | orderBy:'nom' track by filiere.id" required>
                        </select>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" ui-sref="convention.filiere"><i class="glyphicon glyphicon-plus"></i></button>
                        </span>
                    </div>
                    <div ng-show="formConvention.filiere.$touched && formConvention.filiere.$invalid">
                        <p class="help-block">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="etudiant">Etudiant</label>
                    <div class="input-group">
                        <select required class="form-control" id="etudiant" name="etudiant" ng-model="convention.etudiant" ng-options="etudiant as (etudiant.nom + ' ' + etudiant.prenom + ' - ' + etudiant.numeroEtu) for etudiant in etudiants | orderBy:'nom' track by etudiant.id" required>
                        </select>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" ui-sref="convention.etudiant"><i class="glyphicon glyphicon-plus"></i></button>
                        </span>
                    </div>
                    <div ng-show="formConvention.etudiant.$touched && formConvention.etudiant.$invalid">
                        <p class="help-block">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary btn-block" type="submit" ng-disabled="formConvention.$invalid">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
