<div>
    <h2>Envoi de mails</h2>
    <div class="row" ng-repeat="champ in champs" ng-if="$index > 0">
        <br />
        <div class="col-md-6">
            <select class="form-control" ng-model="models[$index-1].ms" ng-options="c for c in champs" ng-show="display($index-1)" ng-change="change($index-1)">
            </select>
        </div>
        <div class="col-md-6">
            <select class="form-control" ng-model="models[$index-1].mi" ng-options="data.id as data.nom for data in models[$index-1].data" ng-show="models[$index-1].ms!=champs[0]">
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <button type="button" class="btn btn-primary btn-block" ng-click="go()">GO</button>
        </div>
    </div>

    <div class="row" ng-show="students.length > 0 && students[0].nom != 'Aucun résultat' ">
		<div class="col-md-4 col-md-offset-4">
			 <div class="form-group">
				 Mail: <input class="form-control" type="email" ng-model="login" /><br />
				 Password: <input class="form-control" type="password" ng-model="password" /><br />
				 Subject: <input class="form-control" type="text" ng-model="subject" /><br />
                 Message: <textarea class="form-control" type="text" ng-model="text"></textarea>
				 <button type="button" class="btn btn-primary btn-block" ng-click="sendEmail()">Send Email</button><br />
			 </div>
		</div>
    </div>

    <div class="row" ng-if="students.length!=0">
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                    <tr>
                        <th><span>Nom</span></th>
                        <th><span>Mail</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="student in students">
                        <td>{{student.nom}}</td>
                        <td>{{student.mail}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
