
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStageLabel">Create or edit a Stage</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.stage.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.stage.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_intitule">Intitule</label>
            <input type="text" class="form-control" name="intitule" id="field_intitule"
                    ng-model="vm.stage.intitule"
                    required />
            <div ng-show="editForm.intitule.$invalid">
                <p class="help-block"
                    ng-show="editForm.intitule.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dateDebut">Date Debut</label>
                <div class="input-group">
                    <input id="field_dateDebut" type="text" class="form-control" name="dateDebut" uib-datepicker-popup="{{dateformat}}" ng-model="vm.stage.dateDebut" is-open="vm.datePickerOpenStatus.dateDebut"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateDebut')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dateDebut.$invalid">
                <p class="help-block"
                    ng-show="editForm.dateDebut.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dateFin">Date Fin</label>
                <div class="input-group">
                    <input id="field_dateFin" type="text" class="form-control" name="dateFin" uib-datepicker-popup="{{dateformat}}" ng-model="vm.stage.dateFin" is-open="vm.datePickerOpenStatus.dateFin"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateFin')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dateFin.$invalid">
                <p class="help-block"
                    ng-show="editForm.dateFin.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_adresse">Adresse</label>
            <select class="form-control" id="field_adresse" name="adresse" ng-model="vm.stage.adresse" ng-options="adresse as (adresse.numero + ' ' + adresse.libelle + ', ' + adresse.codePostal + ' ' + adresse.ville) for adresse in vm.adresses | orderBy:'libelle' track by adresse.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.adresse.$invalid">
            <p class="help-block"
                ng-show="editForm.adresse.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_entreprise">Entreprise</label>
            <select class="form-control" id="field_entreprise" name="entreprise" ng-model="vm.stage.entreprise" ng-options="entreprise as entreprise.nom for entreprise in vm.entreprises | orderBy:'nom' track by entreprise.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.entreprise.$invalid">
            <p class="help-block"
                ng-show="editForm.entreprise.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_responsable">Responsable</label>
            <select class="form-control" id="field_responsable" name="responsable" ng-model="vm.stage.responsable" ng-options="responsable as (responsable.nom + ' ' + responsable.prenom) for responsable in vm.responsables | orderBy:'nom' track by responsable.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.responsable.$invalid">
            <p class="help-block"
                ng-show="editForm.responsable.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_enseignant">Enseignant</label>
            <select class="form-control" id="field_enseignant" name="enseignant" ng-model="vm.stage.enseignant" ng-options="enseignant as (enseignant.nom + ' ' + enseignant.prenom) for enseignant in vm.enseignants | orderBy:'nom' track by enseignant.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.enseignant.$invalid">
            <p class="help-block"
                ng-show="editForm.enseignant.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_filiere">Filiere</label>
            <select class="form-control" id="field_filiere" name="filiere" ng-model="vm.stage.filiere" ng-options="filiere as filiere.nom for filiere in vm.filieres | orderBy:'nom' track by filiere.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.filiere.$invalid">
            <p class="help-block"
                ng-show="editForm.filiere.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_etudiant">Etudiant</label>
            <select class="form-control" id="field_etudiant" name="etudiant" ng-model="vm.stage.etudiant" ng-options="etudiant as (etudiant.nom + ' ' + etudiant.prenom + ' - ' + etudiant.numeroEtu) for etudiant in vm.etudiants | orderBy:'nom' track by etudiant.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.etudiant.$invalid">
            <p class="help-block"
                ng-show="editForm.etudiant.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
